@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Finger Paint', cursive;
}
.main {
  background: url('../images/bg.jpg');
  height: 100vh;
  background-position: top right;
  background-size: cover;
  position: relative;
}

/* global */
img {
  max-width: 100%;
  width: 100%;
}
h1 {
  font-size: 4rem;
}
h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}

.btn {
  outline: 0;
  border: 4px solid #fff;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Finger Paint', cursive;
  text-transform: uppercase;
  background: none;
  color: #fff;
  padding: 5px 12px;
  font-size: 1.2rem;
  cursor: pointer;
}
.buy__wrapper {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0;
}
.buy__wrapper p,
.buy__wrapper button {
  font-size: 2rem;
}
.buy__wrapper button {
  border-radius: 10px;
  padding: 0 20px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

/* section */
.header__logo img {
  max-width: 120px;
  width: 100%;
}
.header__logo {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.main__wrapper {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  display: grid;
}
.left__col {
  max-width: 800px;
  width: 100%;
  align-self: flex-end;
}

.right__col {
  font-family: 'Finger Paint', cursive;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  align-self: center;
  justify-self: flex-start;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

@media only screen and (max-width: 1440px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
  .right__col {
    justify-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .main__wrapper {
    grid-template-columns: 1fr;
  }
  .right__col {
    margin-top: 1rem;
  }
  .err__msg {
    font-size: 1rem !important;
    text-align: center;
  }
}
